@font-face {
  font-family: 'Roboto';
  src: url('Roboto-light.ttf')  format('truetype');
}

body {
  background-color: black;
  color: #bbb;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.unactive {
  color: #bbb;
}

.left {
    float: left;
    width: 30%;
}
.right {
    float: right;
    width: 70%;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}

#title img {
  margin-top: 10px;
  max-width: 250px;
}

#title h2 {
  margin: 10px 0px;
}

#aside {
  padding-left: 10px;
}
#aside p {
  font-size: 0.85em;
}

#network {
  display: inline-block;
  position: relative;
  width: 65%;
  vertical-align: middle;
}

#chart {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#legend {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 312px;
  min-height: 50px;
  padding-bottom: 100;
  vertical-align: middle;
}

#legendSvg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


.links line {
  stroke: #5e5e5e;
  stroke-opacity: 0.6;
}

.tooltip-wrapper {
  font-size: 16px;
  pointer-events: none;
  text-anchor: middle;
  text-shadow: 0 1px 4px #101420, 1px 0 4px #101420, -1px 0 4px #101420, 0 -1px 4px #101420
}

.tooltip-title {
  fill: #fff;
}

@media screen and (max-width: 992px) {
    .left,
    .right {
        float: none;
        width: auto;
    }
    #network {
      width: 100%;
    }
}
